ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

ul {
	list-style: none;
	margin: 1.5rem 2rem;
}

li {
	/* https://codepen.io/mtclmn/pen/OPQmbx */
	position: relative;
}

ul li:before {
	content: "";
	height: 6px;
	width: 6px;
	background: rgba(0, 0, 0, 1);
	display: block;
	position: absolute;
	transform: rotate(45deg);
	top: 0.5rem;
	left: -1rem;
}
